@model FunkyMonkey.Models.DomainModels.Peon

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Peon Re-Identification Upload</h4>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @using (Ajax.BeginForm(actionName: "EditJson", controllerName: "Home", routeValues: new { area = "Sycophants" },
                    ajaxOptions: new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }, htmlAttributes: new { @id="peonFormJson" }))
                {
                    <input type="text" name="id" value="42" />
                    <button>Submit</button>
                }
                <div id="foo"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <p></p>
                <div id="peonDiv">
                @using (Ajax.BeginForm(actionName: "Edit", controllerName: "Home", routeValues: new { area = "Sycophants" },
                    ajaxOptions: new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "peonDiv" }, htmlAttributes: new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="file" id="imgInp" />
                    <input type="submit" value="OK" />
                }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button id="btnSubmit">Fake Submit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form action="#" method="post" class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.EditorFor(m => m.Name)
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" method="post" class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.DisplayFor(m => m.Name)
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

@section scripts {
<script>
    function onSuccess(data, status, xhr)
    {
        console.log("ajax", data);
    }
    $(document).ready(function ()
    {
        $("#btnSubmit").on("click", function (e)
        {
            $("#peonForm").submit();
        });
    });
</script>

}