<div>
<form action="{{uploadController.action}}" method="{{uploadController.method}}" class="dropzone" enctype="multipart/form-data">
    <div class="fallback">
        <input type="file" name="uploadFile" ng-model="uploadController.uploadFile" />
    </div>
</form>
<div>
    <label>Peon Id</label>
    <input type="text" name="pid" ng-model="uploadController.pid" />
    <button class="btn btn-info btn-sm" type="button" ng-disabled="uploadController.uploadDisabled" ng-click="uploadController.processQueue()">Upload</button>
</div>
    
<span class="label label-info">{{uploadController.uploadDisabled}}</span>
</div>