<div class="row">
    <div class="col-md-10">
        <input type="radio" ng-model="uploadController.algorithm" value="basic" /> Basic<br/>
        <input type="radio" ng-model="uploadController.algorithm" value="ios" /> iOS<br/>
    </div>
</div>
<div class="row">
    <div class="col-md-10 well-sm">
        <form action="{{uploadController.action}}" method="{{uploadController.method}}" class="dropzone" enctype="multipart/form-data">
            <div class="fallback">
                <input type="file" name="uploadFile" ng-model="uploadController.uploadFile" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    <!--div class="col-md-5">
        <label>Peon Id</label>
        <input type="text" name="pid" ng-model="uploadController.pid" />
        <button class="btn btn-info btn-sm" type="button"
                ng-disabled="uploadController.uploadDisabled"
                ng-click="uploadController.processQueue()">Upload</button>
    </div-->
    <div class="col-md-5">
        <div class="checkbox">
            <label><input type="checkbox" ng-model="uploadController.subsampled" /> Subsampled</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="funkymonkey-generate-thumbnail" ng-show="uploadController.prep"><i class="glyphicon glyphicon-time"></i> Preparing for upload...</div>
        <div class="funkymonkey-spinner hidden">Upload in progress...</div>
    </div>
</div>
