<div>
<h3>Landing Page</h3>
<span ng-bind="homeController.date | jsonDate: 'yyyy-MM-dd HH:mm:ss'"></span>
</div>

<div class="label label-info">{{homeController.id}}</div>
<div class="">@Html.ApplicationVersion()</div>

@{
    var foo = new { name = "foo" };
}

@Html.DisplayFor(m => foo.name)
@Html.TextBoxFor(m => foo.name, new { ng_model = "foo" })
<script>
    function foo()
    {
        console.log("foo");
    }
</script>

@Ajax.ActionLink("Home", "Foo", "Home", new AjaxOptions { UpdateTargetId="updateDiv", OnSuccess = "(function(){ console.log('foo'); })()" })

<div id="updateDiv"></div>
